behavioral/mediator/EventBroker/.vs/ProjectEvaluation/eventbroker.metadata.v7.bin
behavioral/mediator/EventBroker/.vs/ProjectEvaluation/eventbroker.metadata.v7.bin
behavioral/mediator/EventBroker/obj/Debug/net6.0/EventBroker.GeneratedMSBuildEditorConfig.editorconfig
